// this file will be compiled into index.html
body {
  background: $colors.pageBackground;
  padding: $vertical-margin;
}

html, body {
  color: #776e65;
  font-family: 'Clear Sans', Arial, Helvetica, sans-serif;
}
