// this file will be compiled into index.html

// reset browser default styles because they are ugly
body {
  margin: 0;
}

button {
  border: none;
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

h1, h2 {
  margin: 0;
}